@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h1>&nbsp;</h1>
    <h2>Please press the button below to enter your user registration information!</h2>
    <h1>&nbsp;</h1>
    <button type="button" onclick="location.href='@Url.Action("Registration", "Home")'">Enter Registration Information</button>
</div>
