@{
    ViewData["Title"] = "Registration";
}

@model UserProfile

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<h1>Sign Up</h1>
<form asp-controller="Home" asp-action="SubmitRegistration" method="post" role="form">
    <p>
        <label asp-for="FirstName">First Name: </label>
        <input type="text" asp-for="FirstName" autofocus />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="LastName">Last Name: </label>
        <input type="text" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="Email">Email: </label>
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="Password">Password: </label>
        <input type="text" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </p>
    <input type="submit" />
</form>    